<div ng-controller="TrackInvoiceController">
 <div>
		<ul class="breadcrumb">
			<li><a href="#/game">Partners</a> <span class="divider">/</span></li>
			<li><a href='#/viewpartneraccount/{{resourceId}}'>{{'label.viewpartneraccount' | translate}}</a> <span class="divider">/</span></li>
			<li class="active">Track Invoice</li>
		</ul>
	</div>
	 
	  
	    <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>  
	    
        <fieldset>
          <legend>{{'label.trackinvoice' | translate}}</legend>
          <br>
          
       <div> 
		 <table class="table">
			  <thead>
            	<tr class="graybg">
            		<th>{{'label.select' | translate}}</th>
               		<th>{{'label.provponumber' | translate}}</th>
              	    <th>{{'label.activitymonth' | translate}}</th>
                    <th>{{'lable.provpodate' | translate}}</th>
                	<th>{{'label.royaltyamount' | translate}}</th>
                	<th>{{'label.disburse.status' | translate}}</th>
            	</tr>
       		</thead>
        	<tbody>
            	 <tr ng-repeat="provData in provPurchaseOrderData">
            		<td> <input  type="radio" name ="select" ng-click="getPoDetails(provData.id,$index)"/></td>
            		<td>{{provData.purchaseOrderNumber}}</td>
                	<td>{{provData.activityMonth}}</td>
                	<td>{{provData.purchaseOrderDate | DateFormat}}</td>
                	<td>{{provData.royaltyAmount}}</td>
                    <td>{{provData.disburseStatus}}</td>
             	</tr>
        	</tbody>
		</table>
		<br>
	</div>
	 <br>

       <div> 
		 <table class="table">
			  <thead>
            	<tr class="graybg">
            		<th>{{'label.ponumber' | translate}}</th>
               		<th>{{'label.activitymonth' | translate}}</th>
              	    <th>{{'label.podate' | translate}}</th>
                    <th>{{'lable.amount' | translate}}</th>
                	<th>{{'label.disburse.status' | translate}}</th>
                	<th>{{'label.invoice.number' | translate}}</th>
                	<th>{{'label.invoice.date' | translate}}</th>
                	<th>{{'label.update' | translate}}</th>
            	</tr>
       		</thead>
        	<tbody>
            	 <tr ng-repeat="pData in purchaseOrderData">
            		<td><label>{{pData.purchaseOrderNo}}</label><!-- <input class="input-medium" type="text" ng-model="pData.purchaseOrderNo" readonly/> --></td>
            		<td><label>{{pData.activityMonth}}</label><!-- <input class="input-small" type="text" ng-model="pData.activityMonth" readonly/> --></td>
                	<td><label>{{pData.purchasrOrderDate | DateFormat}}</label><!-- <input class="input-small" type="text" ng-model="pData.purchasrOrderDate" readonly/> --></td>
                	<!-- <td><input  class="input-small" type="text" id="startDate" datepicker-pop="dd MMMM yyyy" ng-model="pData.purchasrOrderDate" is-open="opened"  
              date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;"  readonly/></td> -->
                	<td><label>{{pData.royaltyAmount}}</label><!-- <input class="input-small" type="text" ng-model="pData.royaltyAmount" readonly/> --></td>
                    <td><label>{{pData.statusStr}}</label><!-- <input class="input-small" type="text" ng-model="pData.status" readonly/> --></td>
                    <td><input class="input-small invoiceNumber{{pData.id}}" type="text" ng-model="pData.invoiceNumber"/></td>
                    <td><input class="input-small" type="text" id="startDate" datepicker-pop="dd MMMM yyyy" ng-model="pData.invoiceDate" is-open="opened" date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;" readonly/></td>
                    <td><button class="btn btn-primary invoiceNumber{{pData.id}}" ng-click="update(pData.id,$index)">Update</button></td>
             	</tr>
        	</tbody>
		</table>
		<br>
	</div>
		</fieldset>
	
</div>