 <div ng-controller="ProvisionalPoController">
	<!-- <ul class="breadcrumb">
              <li><a ng-click="tabStatus()" href="#/game">{{'label.partneragreement' | translate}}</a> <span class="divider">/</span></li>
              <li class="active">{{'label.viewpartneragreement' | translate}}</li>
          </ul> -->
          <ul class="breadcrumb">
			<li><a href="#/game">Partners</a> <span class="divider">/</span></li>
			<li><a href='#/viewpartneraccount/{{partnerId}}'>{{'label.viewpartneraccount' | translate}}</a> <span class="divider">/</span></li>
			<li class="active">{{'label.provisionalpo' | translate}}</li>
		</ul>
       <div class="pull-right">
	      <div class="btn-group">
	         <a href="#/createprovisionalpo/{{partnerId}}" class="btn btn-primary"><i class="icon-plus icon-white"></i>Create Prov PO</a>
	      <!--     <a href="#/editPartnerAgreement/{{resouresId}}" class="btn btn-primary"><i class="icon-edit icon-white"></i>Edit</a> -->
	   	    
	      </div>
	    </div>    
	    
	    <table class="table">
        <thead>
            <tr class="graybg">
                <th>{{'table.heading.select' | translate}}</th>
                <th>{{'table.heading.provpono' | translate}}</th>
                <th>{{'table.heading.mediacategory' | translate}}</th>
                <th>{{'table.heading.activitymonth' | translate}}</th>
                <th>{{'table.heading.provpodate' | translate}}</th>
                <th>{{'table.heading.royaltyamount' | translate}}</th>
                <th>{{'table.heading.status' | translate}}</th>
                
            </tr>
        </thead>
        <tbody>
	            <tr class="pointer-main" ng-repeat="provData in provPoData">       
                <td class="pointer" data-ng-click="routeTo(provData.id)">{{provData.id}}</td>   
                <td class="pointer" data-ng-click="routeTo(provData.id)">{{provData.pan}}</td>         
                <td class="pointer" data-ng-click="routeTo(provData.id)">{{provData.mediaCategory}}</td>
                <td class="pointer" data-ng-click="routeTo(provData.id)">{{provData.activityMonth}}</td>
                <td class="pointer" data-ng-click="routeTo(provData.id)">{{provData.provPoDate | DateFormat}}</td>      
                <td class="pointer" data-ng-click="routeTo(provData.id)">{{provData.royaltyAmount}}</td>     	             
                <td class="pointer" data-ng-click="routeTo(provData.id)">{{provData.disburcestatus}}</td>
                
                <!-- <td>
              	<a ng-show="pd.fileName"; ng-click="downloadFile(pd.id)" popover="Download Uploaded File" popover-trigger="mouseenter"><i class="icon-download-alt icon-white"></i></a>
              	</td> -->
            </tr>
        </tbody>
    </table>
	    
	    
   </div>       