<div ng-controller="AddOperatorDeductionController" >
	<div><ul class="breadcrumb">
  <img ng-hide="imagePresent" src="../app/images/blank_avatar.jpg" alt="Avatar" width="40">
     <img ng-show="imagePresent" src="{{image}}" alt="Avatar" width="40">
     <li>
          <h3>
            &nbsp;
            {{displayName}}
            &nbsp;
            <i class="icon-circle {{statusActive | StatusLookup}}"></i>
            &nbsp;
          </h3>
        </li>
        <li><span class="divider">|</span>
          <i class="icon-barcode"></i>
          <small>Uniquely identified with {{accountNo}}&nbsp;</small>
        </li>
        <li><span class="divider">|</span>
          <i class="icon-building"></i>
          <small>Belongs to "{{officeName}}" office</small>
        </li>
         <li><span class="divider">|</span>
          <i></i>
          <small>Balance:{{balanceAmount}} &nbsp;{{currency}}</small>
        </li>
       </ul>
		<ul class="breadcrumb">
			<li><a href="#/clients">{{'link.clients' | translate}}</a> <span class="divider">/</span></li>
			<li><a href="#/viewclient/{{clientId}}">{{'link.view.client' | translate}}</a> <span class="divider">/</span></li>
			<li class="active">Add Operator Deduction</li>
		</ul>
	</div>     
      <form class="form-horizontal well" ng-submit="submit()">
		   <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
        <fieldset>
           <legend>Operator Deduction</legend>   
          <table class="table">
          <thead>
          	<tr class="graybg">
          	<th>{{'label.media.game.sequence' | translate}}</th>
          	<th>{{'table.operator.deduction.deduction.code' | translate}}</th>
          	<th>{{'table.operator.deduction.deduction.value' | translate}}</th>
          	<th></th>
          	<th></th>
          	</tr>
          </thead>
          <tbody>
        <tr ng-repeat="item in deductionData">
		  <td>
		  		<input type="text" ng-model="item.sequence" editable="fales" readonly>
		  </td>
		  <td>
	              	<select ng-model="item.deductionCode"  id="deductionCode{{item.sequence}}" ng-options="fd.deductionCode as fd.deductionCode for fd in formData.deductionCodes" value="{{fd.deductionCode}}">
	             	 </select>
          </td>
          <td>
	              	<input type="text" ng-model="item.deductionValue" id="deductionValue{{item.sequence}}" />
          </td>
          <td>
          			<button type="button" ng-click="addDeduction()" class="btn btn-primary"><i class="icon-plus icon-white"></i></button>
          </td>
          <td>
                	<button type="button" ng-click="removeDeduction($index)" class="btn btn-primary"><i class="icon-remove icon-white"></i></button>
        	</td>
		</tr>
		
        </tbody>
</table>

<div class="offset3">
            <a href="#/viewclient/{{clientId}}" ><button type="reset" class="btn" ng-click="reset123()">{{'button.cancel'| translate}}</button></a>
            <button type="submit" class="btn btn-primary">{{'button.update'| translate}}</button>
          </div>
	 </fieldset>
</form>
 </div>    		