<div ng-controller="CreatePartnerAgreementController">
<ul class="breadcrumb">
	<li> <h3>
            &nbsp;
            {{partnerName}}
             &nbsp;
            <i class="icon-circle {{status | StatusLookup}}"></i>
            &nbsp; 
          </h3>
          </li>
            <li><span class="divider">|</span>
          <!-- <i class="icon-building"></i> -->
          <small>PartnerType "{{formData.partnerType}}"</small>
        </li>
        </ul>
        <ul class="breadcrumb">
              <li><a  href="#/game">Partners</a> <span class="divider">/</span></li>
              <li><a href='#/viewpartneraccount/{{formData.partnerAccountId}}'>{{'label.viewpartneraccount' | translate}}</a> <span class="divider">/</span></li>
              <li><a href='#/agreement/{{formData.partnerAccountId}}'>Agreement</a><span class="divider">/</span></li>
              <li class="active">{{'label.addpartneragreement' | translate}}</li>
          </ul>


<form name="partneragreement"  class="form-horizontal well"   ng-submit="submit()">

  	<div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>

	 <fieldset>
	 <legend>{{'label.partneragreement'| translate}}</legend>
	 <div>
	 <table>		 
	 <!-- <tr>
	 <td>
          <div class="control-group">
			<label class="control-label" for="partnerName">{{'label.partner.partnername' | translate }}&nbsp;<span class="required">*</span></label>
				<div class="controls">
				<select ng-model="formData.partnerAccountId" id="partnerName" ng-change="getCategory(formData.partnerAccountId)" ng-options="pn.id as pn.partnerName for pn in mediaSettlementPartnerNameDatas" value="{{pn.partnerName}}">
					</select>
				<input type="text" data-ng-model="formData.partnerAccountName"
           placeholder="Enter Partner Name"  typeahead-on-select="getPartnerType(formData.partnerAccountName)" ng-change="getPartnerType(formData.partnerAccountName)" 
           ng-autofocus="true"  typeahead="param.partnerName as param.partnerName for param in mediaSettlementPartnerNameDatas | filter:$viewValue | limitTo:8"  
           typeahead-editable="false"  class="form-control"/>	
				</div>
			</div> 
			</td>
			<td>
	 	   <div class="control-group">
	            <label class="control-label" for="partnerType">{{'label.partnertype' | translate}}&nbsp;<span class="required">*</span></label>
	            <div class="controls">
	              <select ng-model="formData.partnerType"  ng-options="partnerTypeData.id as partnerTypeData.mCodeValue for partnerTypeData in partnerTypeDatas" value="{{partnerTypeData.id}}" >
	              </select>
	              <input type="text"  ng-model="formData.partnerType"   value="{{partnerTypeName}}" readonly>
	            </div>
	       </div>
	       </td>
		</tr>
	 --> 	     
		<tr><td>	
          <div class="control-group">
	            <label class="control-label" for="agreementType">{{'label.agreementtype' | translate}}&nbsp;<span class="required">*</span></label>
	            <div class="controls">
	              <select id= "agreementType" ng-model="formData.agreementType" ng-change="dateValues(formData.agreementType)"  ng-options="agreementTypeData.id as agreementTypeData.mCodeValue for agreementTypeData in agreementTypeDatas" value="{{agreementTypeData.id}}">
	              </select>
	            </div>
	       </div>
	   </td>
	   <td>
	       	       <div class="control-group">
	            <label class="control-label" for="royaltyType">{{'label.royaltytype' | translate}}&nbsp;<span class="required">*</span></label>
	            <div class="controls">
	              <select id="royaltyType" ng-model="formData.royaltyType"  ng-options="royaltyTypeData.id as royaltyTypeData.mCodeValue for royaltyTypeData in royaltyTypeDatas" value="{{royaltyTypeData.id}}">
	              </select>
	            </div>
	       </div>
	       </td>
	   
	   </tr>	
		
		<tr><td>
	           <div class="control-group">
	            <label class="control-label" for="agreementCategory">{{'label.agreementcategory' | translate}}&nbsp;<span class="required">*</span></label>
	            <div class="controls">
	              <select id="agreementCategory" ng-model="formData.agreementCategory"  ng-change="minimumValue(formData.agreementCategory)" ng-options="agreementCategoryData.id as agreementCategoryData.mCodeValue for agreementCategoryData in agreementCategoryDatas" value="{{agreementCategoryData.id}}">
	              </select>
	            </div>
	       </div>
	     </td>
	    <td>
	       
	       <div class="control-group">
	            <label class="control-label" for="settlementSource">{{'label.settlementsource' | translate}}&nbsp;<span class="required">*</span></label>
	            <div class="controls">
	              <select id="settlementSource" ng-model="formData.settlementSource"  ng-options="settlementSourceData.id as settlementSourceData.mCodeValue for settlementSourceData in settlementSourceDatas" value="{{settlementSourceData.id}}">
	              </select>
	            </div>
	       </div>
	     </td></tr>
	     
	      <tr>
	     <td>
	     <div ng-show="mgAmount" class="control-group">
            <label class="control-label"  for="requiredValue">{{'label.mgamount' | translate}}&nbsp;<span class="required">*</span></label>
					<div class="controls">
					<input type="text" class="requiredValue" ng-model="formData.mgAmount" >
					</div>
			</div>			              
	     </td>
	     </tr>
	     
		<tr><td>
	       
	       <div class="control-group">
            <label class="control-label" for="startDate">{{'label.contreffectdate' | translate}}&nbsp;<span class="required">*</span></label>
            <div class="controls">
              <input type="text" id="startDate" datepicker-pop="dd MMMM yyyy" ng-model="formData.startDate" is-open="opened"  
              date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;"  disabled/>
            </div>	
          </div>
      
      </td><td>
      				  
      		<div class="control-group">
            <label class="control-label" for="endDate">{{'label.contrenddate' | translate}}&nbsp;<span class="required">*</span></label>
            <div class="controls">
              <input type="text" id="endDate" datepicker-pop="dd MMMM yyyy" ng-model="formData.endDate" is-open="opened" 
              date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;"  disabled/>
            </div>	
          </div>
      
      </td></tr>	
		<!-- <tr><td></td><td>
      				  
      		<div class="control-group">
              <label class="control-label" for="file">{{'label.agreementdoc' | translate}}</label>
              <div class="controls">
                <input type="file" ng-file-select="onFileSelect($files)">
              </div>
             </div> 
             
      </td></tr>	 -->
    </table>
     </div> 
      <!-- 
               	<div class="control-group">
	            	<label class="control-label" for="mediaCategory">{{'label.mediacategory' | translate}}&nbsp;<span class="required">*</span></label>
	            	<div class="controls">
	              	<select ng-model="formData.mediaCategory"  ng-options="mediaCategoryData.id as mediaCategoryData.mCodeValue for mediaCategoryData in mediaCategoryDatas" value="{{mediaCategoryData.id}}" required >
	             	 </select>
	           		 </div>
	      		 </div> -->
         
        <div>
        
         <table id="mediaTable">
          <tr class="control-group">
                <td>
                    <form>
                    <legend>Add Media Category Data</legend>
                      <button type="button" ng-click="addmediaCategories()" class="btn btn-primary"><i class="icon-plus icon-white"></i></button>
                    </form>
                </td>
              </tr>
              <tr class="span2"></tr>
           </table>
           
           
           <table class="table" width="100%" ng-show="mediaPartnerData.length>0">
                    <tr></tr>
                    <tr class="graybg">
                    <th>{{'table.heading.mediacategory' | translate}}</th>
                      <th>{{'table.heading.playsource' | translate}}</th>
                      <th>{{'table.heading.royaltyshare' | translate}}</th>
                      <th>{{'table.heading.royaltysequence' | translate}}</th>
                      <th>{{'table.heading.status' | translate}}</th>
                       <th></th>
                    </tr>
                    <tr ng-repeat="gd in mediaPartnerData" >
                      <td><select ng-model="gd.mediaCategory"  class="input-medium" ng-options="mediaCategoryData.id as mediaCategoryData.mCodeValue for mediaCategoryData in mediaCategoryDatas" value="{{mediaCategoryData.id}}" required >
					  </select></td>
					  <td><select ng-model="gd.playSource"  class="input-medium" ng-options="playSourceData.id as playSourceData.mCodeValue for playSourceData in playSourceDatas" value="{{playSourceData.id}}" required >
					  <td><input type="text" name="royaltyShare" class="input-medium"  ng-model="gd.royaltyShare" required ></td>
					  </select></td>
                      <td><select ng-model="gd.royaltySequence"  class="input-medium" ng-options="rs.id as rs.value for rs in royaltySequenceDatas" value="{{rs.id}}" required >
					  </select></td>
					  <td><select ng-model="gd.status"  class="input-medium" ng-options="s.id as s.value for s in statusDatas" value="{{s.id}}" required >
					  </select></td>
                      <td><a ng-click="removemediaCategories($index)"><i class="icon-remove icon-white"></i></a></td>
                    </tr>
                  </table>
        
    	</div>           
        

          
           <div class="offset3">
            <a href="#/viewpartneraccount/{{formData.partnerAccountId}}" ><button type="reset" class="btn">{{'button.cancel'| translate}}</button></a>
            <button type="submit" class="btn btn-primary">{{'button.save'| translate}}</button>
          </div>
	 </fieldset>
</form>
     		
</div>