<div ng-controller="EditOperatorDeductionController" >
<ul class="breadcrumb">
              <li><a href="#/viewclient/{{formData.clientId}}">Client</a> <span class="divider">/</span></li>
              <li class="active">Operator Deduction</li>
          </ul>      
      <form class="form-horizontal well" ng-submit="submit()">
		   <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
        <fieldset>
         
           <legend>Edit Operator Deduction</legend>   
          
          
          <table class="table">
          <thead>
          	<tr class="graybg">
          	<th>{{'label.media.game.sequence' | translate}}</th>
          	<th>{{'table.operator.deduction.deduction.code' | translate}}</th>
          	<th>{{'table.operator.deduction.deduction.value' | translate}}</th>
          	<th></th>
          	<th></th>
          	</tr>
          </thead>
          <tbody>
        <tr>
		  <td>
		  		<input type="text" ng-model="sequence" editable="fales" readonly>
		  </td>
		  <td>
	              	<select ng-model="formData.deductionCode"  id="deductionCode" ng-options="fd.deductionCode as fd.deductionCode for fd in deductionCodes" value="{{fd.deductionCode}}">
	             	 </select>
          </td>
          <td>
	              	<input type="text" ng-model="formData.deductionValue" id="deductionValue" />
          </td>
		</tr>
		
        </tbody>
</table>

<div class="offset3">
            <a href="#/viewclient/{{formData.clientId}}" ><button type="reset" class="btn" ng-click="tabStatus()">{{'button.cancel'| translate}}</button></a>
            <button type="submit" class="btn btn-primary">{{'button.update'| translate}}</button>
          </div>
	 </fieldset>
</form>
 </div>    		