      
      <div ng-controller="EditGameMapDetailsController">
      <div>
      <ul class="breadcrumb">
	<li> <h3>
            &nbsp;
            {{partnerName}}
            <!-- &nbsp;
            <i class="icon-circle {{client.status.code | StatusLookup}}"></i>
            &nbsp; -->
          </h3>
          </li>
            <li><span class="divider">|</span>
          <!-- <i class="icon-building"></i> -->
          <small>PartnerType "{{formData.partnerTypeName}}"</small>
        </li>
        </ul>     
        <ul class="breadcrumb">
              <li><a href="#/game">Partners</a> <span class="divider">/</span></li>
           	<li><a href="#/viewpartneraccount/{{resouresId}}">{{'label.viewpartneraccount' | translate}}</a> <span class="divider">/</span></li>
              <li class="active">{{'label.editpartneraccount' | translate}}</li>
          </ul>
      </div>
      <div>
       <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
	     <div class="pull-right">
	      <div class="btn-group">        
	          <a ng-click="deleteAccount()" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete</a>
	      </div>
	    </div>
	  <script type="text/ng-template" id="approve.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">{{'dialog.partner.title.message' | translate}}</h3>
                    </div>
                    <div class="modal-body" style="height:60px;">
                       <h4>Are you sure?</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
                    </div>
      </script>
	    <div>
	    
      	
      			
      		<form name="editpartnerform" class="form-horizontal well" ng-submit="submitPartnerAccount()">
      		
      		<fieldset>
      		<legend>Edit Partner Account</legend>
				<table>
					<tr>
						<td>
							<table>
								<!-- <tr>
									<td>
									<div class="control-group">
										<label class="control-label" for="grnId">{{'label.partner.type' | translate }}&nbsp;<span class="required">*</span></label>
										<div class="controls">
											<select ng-model="formData.partnerType" id="partnerType"
												ng-change="hideChannelPartner(formData.partnerType)" ng-options="partnerType.id as partnerType.mCodeValue for partnerType in partnerType"
												value="{{partnerType.mCodeValue}}">
											</select>
										</div>
									</div>
									</td>
								</tr>
								<tr>
									<td>
							          	<div class="control-group">
											<label class="control-label" for="grnId">{{'label.partner.media.category' | translate }}&nbsp;<span class="required">*</span></label>
											<div class="controls">
												<select ng-model="formData.mediaCategory" id="mediaCategory"
													ng-options="mediaCategory.id as mediaCategory.mCodeValue for mediaCategory in mediaCategory"
													value="{{mediaCategory.mCodeValue}}">
												</select>
											</div>
									    </div>
									</td>
								</tr> -->
								<tr>
									<td>
							          	<div class="control-group">
											<label class="control-label" for="grnId">{{'label.partner.name' | translate }}&nbsp;<span class="required">*</span></label>
											<div class="controls">
												<input type="text" ng-model="formData.partnerName" id="partnerName"/>
											</div>
									    </div>
									</td>
								</tr>
								<tr>
									<td>
									<div class="control-group">
										<label class="control-label" for="partnerType">{{'label.partner.type' | translate }}&nbsp;<span class="required">*</span></label>
										<div class="controls">
											<select ng-model="formData.partnerType" id="partnerType"
												ng-options="partnerType.id as partnerType.mCodeValue for partnerType in partnerTypeData"
												value="{{partnerType.mCodeValue}}">
											</select>
										</div>
									</div>
									</td>
								</tr>
								<tr>
									<td>
							          	<div class="control-group">
											<label class="control-label" for="grnId">{{'label.partner.address' | translate }}&nbsp;<span class="required">*</span></label>
											<div class="controls">
												<textarea  id="partnerAddress" ng-model="formData.partnerAddress" ng-minlength="{200}" ng-maxlength="{20}"></textarea>
											</div>
									    </div>
									</td>
								</tr>   
								<tr>
									<td>
									<div class="control-group">
								      <label class="control-label" for="emailId">Official email-id&nbsp;<span class="required">*</span></label>
								      <div class="controls">
								        <input type="text" id="emailId" ng-model="formData.emailId"/>
								      </div>
								    </div>
									</td>
								</tr>
									<tr>
								<td>	
								<div class="control-group">
								  <label class="control-label" for="contactNum">Contact Number&nbsp;<span class="required">*</span></label>
									     <div class="controls">
									       <input type="text" id="contactNum" ng-model="formData.contactNum" ng-pattern="/^(?!0+$)\d{1,19}$/"  ng-maxlength="10" name="contactNum"/>
									       <div ng-show="editpartnerform.contactNum.$dirty && editpartnerform.contactNum.$invalid">
                                         <span class="error" ng-show="editpartnerform.contactNum.$error.pattern">digits only !</span>
                                         <span class="error" ng-show="editpartnerform.contactNum.$error.maxlength">Exceeded max limit!</span>
                                           </div> 
									     </div>
								   </div>
									</td>
								</tr>	
								<tr>
									<td>
									<div class="control-group">
										<label class="control-label" for="externalId">External Id :&nbsp;<span class="required">*</span></label>
											<div class="controls">
												<input type="text" ng-model="formData.externalId"  id="externalId" ng-pattern="/^(?!0+$)\d{1,19}$/" name="externalId"/>
												 <div ng-show="editpartnerform.externalId.$dirty && editpartnerform.externalId.$invalid">
                                              <span class="error" ng-show="editpartnerform.externalId.$error.pattern">digits only !</span>
                                              </div>
											</div>
									</div>
									</td>
								</tr>		
								<tr>
									<td>
							          	<div class="control-group">
											<label class="control-label" for="currencyId">Currency&nbsp;<span class="required">*</span></label>
											<div class="controls">
												<select ng-model="formData.currencyId" id="currencyId"
													ng-options="currencyCode.id as currencyCode.code for currencyCode in currencyCodes"
													value="{{currencyCode.code}}">
												</select>
											</div>
									    </div>
									</td>
								</tr>												
							</table>
							
						</td>
					</tr>
				</table>
			</fieldset>
		<!-- 	<fieldset>
           <legend ng-show="channelPartner.length > 0">Mapped Channel's </legend>
          
           <table class="table" width="100%" ng-show="channelPartner.length > 0">
                    <tr></tr>
                    <tr class="graybg">
                      <th>{{'table.partner.channelname' | translate}}</th>
                      <th>{{'table.partner.category' | translate}}</th>
                      <th>{{'table.partner.address' | translate}}</th>
                      <th>{{'table.partner.partnertype' | translate}}</th>
                    </tr>
                    <tr ng-repeat="cp in channelPartner" >
                      <td>{{cp.channelPartnerName}}</td>
                      <td>{{cp.mediaCategoryStr}}</td>
                      <td>{{cp.partnerAddress}}</td>
                      <td>{{cp.partnerTypeStr}}</td>
                    </tr>
                  </table>
           </fieldset>	 -->
        <!--   <fieldset ng-show="hideIfNotContentProvider">
           <legend>Channel Partner mapping</legend>
          <table id="gameTable">
          <tr class="control-group">
                <td>
                    <form>
                      <button type="button" ng-click="addChannelPartner()" class="btn btn-primary"><i class="icon-plus icon-white"></i></button>
                    </form>
                </td>
              </tr>
              <tr class="span2"></tr>
           </table>
           <table class="table" width="100%" ng-show="true">
                    <tr></tr>
                    <tr class="graybg">
                      <th>{{'table.partner.channelpartner.name' | translate}}</th>
                      <th>{{'table.partner.channelpartner.address' | translate}}</th>
                       <th></th>
                    </tr>
                    <tr ng-repeat="gd in gameData" >
                      <td><select ng-model="gd.channelPartnerId" ng-change="getAddress()" id="channelPartnerName" class="input-medium" ng-options="cpn.channelPartnerId as cpn.channelPartnerName for cpn in channelPartnerDatas" value="{{cpn.channelPartnerId}}">
					  </select></td>
					  <td><input type="text" class="input-small" ng-model="gd.channelPartnerAddress" id="channelPartnerAddress" placeholder=""></td>
                      <td><a ng-click="removeGamePartner($index)"><i class="icon-remove icon-white"></i></a></td>
                    </tr>
                  </table>
           </fieldset> -->
	          <div class="offset3">
	            <a  href="#/viewpartneraccount/{{resouresId}}"><button type="reset" class="btn">{{'button.cancel' | translate}}</button></a>
	            <button type="submit" class="btn btn-primary">{{'label.save' | translate}}</button>
	          </div>
	        
	        
	        
	        
	          </form>
			
 
      		
	    </div>
      </div>
</div>
