 <div ng-controller="ViewPartnerAgreementController">
	 <!-- <ul class="breadcrumb">
              <li><a ng-click="tabStatus()" href="#/game">{{'label.partneragreement' | translate}}</a> <span class="divider">/</span></li>
              <li class="active">{{'label.viewpartneragreement' | translate}}</li>
          </ul>  -->
   <ul class="breadcrumb">
	<li> <h3>
            &nbsp;
            {{partnerName}}
            <!-- &nbsp;
            <i class="icon-circle {{client.status.code | StatusLookup}}"></i>
            &nbsp; -->
          </h3>
          </li>
            <li><span class="divider">|</span>
          <!-- <i class="icon-building"></i> -->
          <small>PartnerType "{{partnerType}}"</small>
        </li>
        </ul>
        <ul class="breadcrumb">
              <li><a href="#/game">Partners</a> <span class="divider">/</span></li>
              <li><a href='#/viewpartneraccount/{{partnerAccountId}}'>{{'label.viewpartneraccount' | translate}}</a> <span class="divider">/</span></li>
              <li><a href='#/agreement/{{partnerAccountId}}'>Agreement</a><span class="divider">/</span></li>
              <li class="active">{{'label.viewpartneragreement' | translate}}</li>
          </ul>

        <div class="pull-right btn-group">
          <a href="#/editPartnerAgreement/{{resouresId}}" class="btn btn-primary"><i class="icon-edit icon-white"></i>Edit</a>
        </div>
          
  <form class="form-horizontal well"  >
   <fieldset>
   <legend>View Partner Agreement</legend>
	  <div class="row-fluid">	 
	  				  <div class="span7">
                        <table  width="100%" >
                            <tr>
                              <td width="35%">Agreement Status:</td>
                              <td width="65%">{{agreementType}}</td>
                            </tr><tr></tr>
                             <tr>
                              <td>Agreement Category:</td>
                              <td>{{agreementCategory}}</td>
                            </tr><tr></tr>
                             <tr>
                              <td>MG Amount:</td>
                              <td>{{mgAmount}}</td>
                            </tr><tr></tr>
                            <tr>
                              <td>Contr Effect Date:</td>
                              <td>{{startDate}}</td>
                            </tr>
                            </table>
                            </div>
                            
                             <div class="span5">
                           <table  width="100%">
                            <tr>
                              <td width="50%">Royalty Share:</td>
                              <td width="65%">{{royaltyType}}</td>
                            </tr><tr></tr>
                            <tr>
                              <td>Settlement Source:</td>
                              <td>{{settlementSource}}</td>
                            </tr><tr></tr>
                            <tr>
                              <td>Contr End Date:</td>
                              <td>{{endDate}}</td>
                            </tr>
                           <!-- <tr>
                              <td>{{ 'label.agreementdoc' | translate }}</td>
                              <td>{{fileName}}{{" " }}
                              <a ng-show="fileName"; ng-click="downloadFile()" popover="Download File" popover-trigger="mouseenter"><i class="icon-download-alt icon-white"></i></a>
                              </td>
                            </tr> -->
                      <tr></tr>
                            <tr></tr>
                          </table>
                     </div>
                   </div>  
                     <br/>
                     <div class="span9">
                          
                           <table class="table" width="100%">
				            <thead>
				              <tr class="graybg">
		                 		  <th>{{'table.heading.mediacategory' | translate}}</th>
		                          <th>{{'table.heading.playsource' | translate}}</th>
		                          <th>{{'table.heading.royaltyshare' | translate}}</th>
		                          <th>{{'table.heading.royaltysequence' | translate}}</th>
		                          <th>{{'table.heading.status' | translate}}</th>
				              </tr>
				            </thead>
				            <tbody>
				              <tr ng-repeat="pad in mediaCategoryDatas">
				                <td>{{pad.mediaCategory}}</td>
				                <td>{{pad.playSource}}</td>
				                <td>{{pad.royaltyShare}}</td>
				                <td>{{pad.royaltySequences}}</td>
				                <td>{{pad.statuss}}</td>
				               
				                </tr>
				            </tbody>
				          </table>
                          
                      </div>	 
	 </fieldset>
	 
</form>	
  </div>   	          