 <div ng-controller="ViewPartnerAgreementController">
	<div class="paddedbottom10">
	<ul class="breadcrumb">
              <li><a href="#/game">{{'label.partneragreement' | translate}}</a> <span class="divider">/</span></li>
              <li class="active">{{'label.viewpartneragreement' | translate}}</li>
          </ul>
          
       <div class="pull-right">
	      <div class="btn-group">
	          <a href="#/editPartnerAgreement/{{resouresId}}" class="btn btn-primary"><i class="icon-edit icon-white"></i> Edit</a>
	   	    
	      </div>
	    </div>    
   </div>       
          
<form class="form-horizontal well"  >
<fieldset>
	 <legend>{{'label.viewpartneragreement' | translate}}</legend>
	 
          
	 
	 
	  				 <div>
            
                        <table  width="100%" >
                            <tr>
                              <td width="35%">{{'label.partner.partnername' | translate}}</td>
                              <td width="65%">{{partnerName}}</td>
                            </tr>
                            <tr>
                              <td>{{'label.partnertype' | translate}}</td>
                              <td>{{partnerType}}</td>
                            </tr>
                            <tr>
                              <td>{{ 'label.agreementcategory' | translate }}</td>
                              <td>{{agreementCategory}}</td>
                            </tr>
                             <tr>
                              <td>{{ 'label.mgamount' | translate }}</td>
                              <td>{{mgAmount}}</td>
                            </tr>
                            <tr>
                              <td>{{ 'label.agreementtype' | translate }}</td>
                              <td>{{agreementType}}</td>
                            </tr>
                            <tr>
                              <td>{{ 'label.royaltytype' | translate }}</td>
                              <td>{{royaltyType}}</td>
                            </tr>
                            <tr>
                              <td>{{ 'label.settlementsource' | translate }}</td>
                              <td>{{settlementSource}}</td>
                            </tr>
                            <tr>
                              <td>{{ 'label.contreffectdate' | translate }}</td>
                              <td>{{startDate}}</td>
                            </tr>
                            <tr>
                              <td>{{ 'label.contrenddate' | translate }}</td>
                              <td>{{endDate}}</td>
                            </tr>
                            <tr>
                              <td>{{ 'label.agreementdoc' | translate }}</td>
                              <td>{{agreementDoc}}</td>
                            </tr>
                            <tr></tr>
                            <tr></tr>
                          </table>
                     </div>
                     
                     <div>
                          
                           <table class="table">
				            <thead>
				              <tr class="graybg">
		                 		  <th>{{'table.heading.mediacategory' | translate}}</th>
		                          <th>{{'table.heading.playsource' | translate}}</th>
		                          <th>{{'table.heading.royaltyshare' | translate}}</th>
		                          <th>{{'table.heading.royaltysequence' | translate}}</th>
		                          <th>{{'table.heading.status' | translate}}</th>
				              </tr>
				            </thead>
				            <tbody>
				              <tr ng-repeat="pad in partnerAgreementDatas">
				                <td>{{pad.mediaCategorys}}</td>
				                <td>{{pad.playSources}}</td>
				                <td>{{pad.royaltyShare}}</td>
				                <td>{{pad.royaltySequences}}</td>
				                <td>{{pad.statuss}}</td>
				               
				                </tr>
				            </tbody>
				          </table>
                          
                      </div>	 
	 </fieldset>
	 
</form>	
  </div>   	          