<div ng-controller="ViewBusinessLineController">

	<div class="paddedbottom10">
		<ul class="breadcrumb">
			<li><a href="#/businessline">{{'label.businessline' | translate}}</a>
				<span class="divider">/</span></li>
			<li class="active">{{'lable.viewbusinessline' | translate}}</li>
		</ul>
		 <div class="pull-right">
	      <div class="btn-group">
	          <a href="#/editbusinessline/{{event.id}}" class="btn btn-primary"><i class="icon-edit icon-white"></i> Edit</a>	        
	          <!-- <a ng-click="deleteEvent()" class="btn btn-primary"><i class="icon-trash icon-white"></i> Delete</a>	 --> 
	      </div>
	    </div>
	</div>

	<div class="row paddedleft">
		<h3>{{'label.viewevent' | translate}}</h3>
		<table width="100%">
		    <tr>
                <td>{{'label.event.id' | translate}}</td>
                <td>{{event.id}}</td>
            </tr>
			<tr>
				<td>{{'label.event.eventcode' | translate}}</td>
				<td>{{event.eventName}}</td>
			</tr>
			<tr>
				<td>{{'label.event.eventdescription' | translate}}</td>
				<td>{{event.eventDescription}}</td>
			</tr>
			<tr>
				<td>{{'label.event.chargedata' | translate }}</td>
				<td>{{event.chargeCode}}</td>
			</tr>
			<tr>
							<td>{{ 'label.event.status' | translate }}</td>
							<td ng-repeat="selectedStatus in status">
								<span ng-show="selectedStatus.id == event.statusId ">{{selectedStatus.value}}</span>
							</td>
			</tr>
			
		</table>
	</div>

</div>

